# App
HOST=localhost
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=mysql
DB_PASSWORD=mysql
DB_NAME=nest_db

# Auth
JWT_SECRET=change_me_to_a_secure_secret

# Redis
REDIS_HOST=localhost    
REDIS_PORT=6379

# Mail
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=user@example.com
MAIL_PASS=topsecret

# Admin
ADMIN_EMAIL=admin_email@example.com
